<style>
.aaa{
	cursor:pointer;
}

body{
	/* background-color: #f8f8f8;*/
}

.camera{ 
    cursor: pointer;
}
.negrito{
    font-weight: bold;
}

.jumbotron {
      padding: 110px 25px;
      background-color: white;
 }

 .imagemprojeto{
 	height: 300px;
 }

 .titulo{
 	background-color: #FFFFFF;
 	border: 1px solid #e7e7e7;
 }

</style>